html, body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    background-color: #0288d1;
}

h1 {
    font-size: 500%;
    color: #fff;
}

h2 {
    font-size: 250%;
    color: #fff;
}

.header {
    display: inline;
}

.full {
    display: none;
   -webkit-transition: opacity 1s;
   -moz-transition: opacity 1s;
   -o-transition: opacity 1s;
   transition: opacity 1s;
}

.minimal {
    display: inline;
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
   -webkit-transition: opacity 1s;
   -moz-transition: opacity 1s;
   -o-transition: opacity 1s;
   transition: opacity 1s;
}

.navbtn {
    background-color: #5eb8ff;
    width: 60px;
    height: 60px;
    border-radius: 0%;
    border: none;
    outline: none;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #000;
    font-size: 22px;
    transform: translate3d(0, 0, 0);
}

.navicon {
    position: relative;
    top: 4px;
}

.navbtn:active:after {
    transform: scale(0,0);
    opacity: .2;
    transition: 0s;
}

.navbtn:hover {
    background-color: #0288d1;
    transition: 1.0s;
}
.navbtn:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10,10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

.navdd {
    position: relative;
    display: inline-block;
}

.menu {
    width: 300px;
}

.navdd-content {
    display: none;
    position: absolute;
    background-color: #5eb8ff;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
}

.navdd-item {
    background-color: #5eb8ff;
    width: 300px;
    border-radius: 0%;
    box-shadow: 0 0 0 0;
}

.navdd-item:hover {
    background-color: #0288d1;
    transition: 1.0s;
}

.navdd:hover .navdd-content {
    display: block;
}

.startbtn {
    background-color: #5eb8ff;
    border-radius: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: #0288d1;
    text-align: center
}

.github {
    color: #fff;
    height: 20px;
    width: 20px;
    text-emphasis: none;
    font-size: 20px;
}

.github:hover {
    color: #5eb8ff;
    transition: 1.0s;
}

.content {
    background-color: #0288d1;
    height: 80%;
    padding-bottom: 10%;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.flex-item {
    flex: 1 0 25%;
    background-color: #0288d1;
    margin: 5px;
    height: 250px;
    padding: 10px;
}

.description {
    display: none;
    position: relative;
    color: #fff;
}

.flex-item:hover .description {
    display: inherit;
}

.flex-item:hover .page-button {
    background-color: #0288d1;
    transition: 1.0s;
}

.flex-item:hover {
    background-color: #0288d1;
    transition: 1.0s;
}

.page-button {
    width: 100%;
    height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 10px;
}

.container {
   -webkit-transition: opacity 1s;
   -moz-transition: opacity 1s;
   -o-transition: opacity 1s;
   transition: opacity 1s;
}

form {
    width: 60%;
    margin: 45px auto;
}

input, textarea {
  background-color: #5eb8ff;
  color: #fff;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #fff;
}

input:focus {
    outline: none;
}

select {
    width: 110%;
    padding: 10px 10px 10px 5px;
    font-size: 18px;
    border: none;
    display: block;
    border-radius: 0;
    background: #fff;
    color: #000;
}

.stdbtn {
    width: 100px;
    border-radius: 10px;
}

.close {
    top: 1px;
    left: 1px;
    position: absolute;
}

.overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0288d1;
    z-index: 2;
    cursor: pointer;
  }
  
#basetable {
    background-color: #0288d1;
    color: #fff;
}

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
}

input[type=checkbox] {
    border: 0px;
    width: 100%;
    height: 2em;
}

::placeholder {
    color: #fff;
}